<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!--轮播插件-->
	<link rel="stylesheet" href="__STATIC__/index/css/swiper.css">
	<script src="__STATIC__/index/js/swiper.min.js"></script>
	<title>北京网站建设,APP开发,小程序,北京网页设计,响应式网站建设-北京明创-高端定制一对一服务公司</title>
	<meta name="Keywords" content="北京网站建设,APP开发,小程序,北京网页设计,响应式网站建设-北京明创-高端定制一对一服务公司" />
	<meta name="Description" content="北京明创-高端定制一对一服务公司-资深的北京网站建设公司,专注北京网站建设,北京网站设计,APP开发,北京网页设计,响应式网站建设的高端网站建设,高端网页设计的公司" />
	<!--动画-->
	<link rel="stylesheet" href="__STATIC__/index/Animate/animate.min.css">
	<!--bootstrap框架↓-->
	<link href="__STATIC__/index/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="__STATIC__/index/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
	<!--字体图标-->
	<link rel="stylesheet" href="__STATIC__/index/font/demo.css">
	<link rel="stylesheet" href="__STATIC__/index/font/iconfont.css">
	<!--本页面CSS↓-->
	<link rel="stylesheet" href="__STATIC__/index/css/style.css">
	<!--bootstrap框架↓-->
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>
	<script src="__STATIC__/index/js/common.js"></script>
</head>
{__CONTENT__}
<section class="index_footer">
	<div class="row">
		<div class="col-md-8 foot_left">
			<div class="foot_tit">
				<img src="__STATIC__/index/images/foot1.png"> <span>联系我们</span>
			</div>
		</div>
		<div class="col-md-4 foot_right">
			<img src="__STATIC__/index/images/sanjiao2.png" class="foot_san">
			<div class="foot_tit1">明创9年，用心打动客户
				<p>用心　/　坚持　/　专业　/　及时　/　准确　/　诚信</p>
			</div>
		</div>
		<div class="clear"></div>
		<ul class="col-md-4  all_info">
			<li>北京总部</li>
			<li>电  话：010-87653002</li>
			<li>Email：mcbn100@mcbn.cc</li>
			<li>地  址：北京市丰台区宋庄路71号扑满山大厦2号楼11层</li>
		</ul>
		<ul class="col-md-4  all_info">
			<li>济南分部</li>
			<li>电  话：0531-88252358</li>
			<li>Email：mcbn150@mcbn.cc</li>
			<li>地  址：济南市 高新区 顺泰广场1号楼东区8层</li>
		</ul>
		<ul class="col-md-4 all_info">
			<li>济宁分部</li>
			<li>电  话：15153719754</li>
			<li>Email：mcbn150@mcbn.cc</li>
			<li>地  址：圣泽大街西段华儒众创空间3层</li>
		</ul>
	</div>
</section>
<footer>COPYRIGHT © 2017 mingchuangbainian ALL RIGHTS 京ICP备11000015号-1</footer>
<script src="__STATIC__/index/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.countup.min.js"></script>
<script type="text/javascript">
	$('.counter').countUp();
</script>
</body>
</html>