<!-- <h1>首页</h1> -->
<div class="bdsharebuttonbox" data-tag="share_1">
	<img style="padding-left: 0;background-image: url('');height: 16px;line-height: 16px;margin: 6px 6px 6px 0;" src="/static/admin/images/fenxiang.png" class="bds_more" data-cmd="more">
</div>
<script>
	$(function(){
		var bdText = '分享标题';
		var bdDesc = '分享摘要';
		var bdUrl = 'https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3574250824,2028333054&fm=27&gp=0.jpg';
		var bdPic = '分享图片';
		window._bd_share_config = {
			common : {
				bdText : bdText,	
				bdDesc : bdDesc,	
				bdUrl : bdUrl, 	
				bdPic : bdPic
			},
			share : [{
				"bdSize" : 16
			}],
		}
		with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
	})
	
</script>